:root {
	--surface-ground: #27272a;
	--surface-section: #202124;
	--surface-border: #414144;
	--surface-line: #c6c6c6;
	--surface-active: #a1a1aa;
	--surface-outline: #7890b2;

	--text-primary-color: #a1a1aa;
	--text-secondary-color: #ffffff;
}

#root {
	height: 100vh;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100vh;
	background-color: var(--surface-ground);
	color: var(--text-primary-color);
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	overflow: hidden;
}

.container {
	height: 100%;
	display: flex;
}
